<section class="home" #home>
    <div #parallax class="parallax">
        <!-- (mousemove)="onMouseMove($event)" -->
        <div class="logo-container">
            <img src="./assets/imgs/logo.png" style="height: 150px;">
        </div>

        <input type="checkbox" id="bt_menu" />
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li>
                    <a href="#album">Álbum</a>
                </li>

                <li>
                    <a href="#caminhada">Caminhada</a>
                    <!-- <ul>
                    <li>
                        <a href="#">Criação de Sites</a>
                    </li>

                    <li>
                        <a href="#">Arte Visual</a>
                    </li>
                </ul> -->
                </li>

                <li>
                    <a href="#agenda">Agenda</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section id="album" class="album">
    <h1 class="album-title">
        Álbum
    </h1>

    <div class="album-details">
        <div class="album-image"></div>

        <div class="album-description">
            <h2 style="margin-bottom: 16px;">Crônicas de um passado recente!</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis varius quam quisque id. Lorem ipsum dolor sit amet consectetur. Nullam non
                nisi est sit amet. In ornare quam viverra orci sagittis eu volutpat odio. Elementum curabitur vitae nunc
                sed velit dignissim sodales. Egestas sed tempus urna et. Quis auctor elit sed vulputate mi sit amet
                mauris commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in ante metus dictum at
                tempor.
            </p>
        </div>
    </div>

    <iframe class="soudncloud-player" height="450" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/696410373&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
    </iframe>

    <!-- <iframe style="width: 60vw; margin-top: 48px;"  height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/566310813&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
    </iframe> -->

    <iframe class="youtube-player" src="https://www.youtube.com/embed/th76dOrrFEc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <iframe class="youtube-player" src="https://www.youtube.com/embed/MTIVLMWVuZI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <!-- <iframe class="youtube-player" src="https://www.youtube.com/embed/ygiJ76SdizU"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe> -->
</section>

<section id="caminhada" class="caminhada">
    <h1 class="caminhada-title">
        Caminhada
    </h1>

    <div class="caminhada-details">
        <div class="caminhada-description">
            <h2 style="margin-bottom: 16px;">Prazer, sou Sick!</h2>

            <p style="margin-bottom: 50px;">
                Inicie meu projeto de rap "Sick" em 2013 na época em que eu ainda era vocalista da banda "Dallas", uma
                banda de Metal/Hardcore formada em 2009 e que recentemente havia lançado seu primeiro álbum no final de
                2012 chamado “We Are The Real Monsters”.‬
            </p>

            <h2 style="margin-bottom: 16px;">161, cicatrizes e marcas...</h2>

            <p style="margin-bottom: 16px;">
                A primeira música do meu novo projeto solo foi a letra de "Notas", com uma linguagem diferente do que eu
                escrevia com a banda, ela tinha algo mais íntimo e pessoal, um desabafo sobre o que sentia, sobre como
                sentia, não tinha berros ou gritos, e a letra inspirou a ideia de compor um álbum completo de rap, do
                qual levou 5 anos para ser finalizado, contanto com 7 faixas inéditas. ‬
            </p>

            <p style="margin-bottom: 50px;">
                No início de 2019 foi lançado o single com vídeo clipe de estúdio com a música "Notas", e na sequência o
                álbum completo nomeado "161". O álbum conta com 7 faixas inéditas e duas participações especiais no
                álbum, Samara Bueno no refrão da música "23" & Charli.On na música "Caminho". ‬ Em setembro de 2019
                lancei meu segundo video clipe, desta vez da música "161" que trás o nome do álbum, o clipe foi gravado
                com cenas em frente à residência onde morava que é a mesma da capa do álbum e em São Paulo no famoso
                "Minhocão".
            </p>

            <h2 style="margin-bottom: 16px;">Do interior underground, sem dever nada</h2>

            <p style="margin-bottom: 16px;">
                E no início de 2020 participei de uma Cypher com outros rappers da cidade para gravação de uma música
                nova e vídeo clipe, "Conhecimento Tácito" é o nome do som onde participaram LB na Voz, Inc, Eu(Sick) e
                Feijão.
            </p>



            <!-- <p style="margin-bottom: 16px;">
                Elementum curabitur vitae nunc sed velit dignissim sodales. Egestas sed tempus urna et. Quis auctor elit
                sed vulputate mi sit amet mauris commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in
                ante metus dictum at tempor.
            </p>

            <p style="margin-bottom: 16px;">
                dignissim sodales. Egestas sed tempus urna et. Quis auctor elit sed vulputate mi sit amet mauris
                commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in ante metus dictum at tempor.
            </p> -->
        </div>

        <div class="caminhada-images">
            <img src="./assets/imgs/caminhada_sou_sick.png" style="margin-bottom: 16px">

            <img src="./assets/imgs/caminhada_161.png">

            <!-- <img src="./assets/imgs/caminhada_do_interior.png"> -->
        </div>
    </div>

    <div class="caminhada-details">


        <div class="caminhada-description">


            <!-- <p style="margin-bottom: 16px;">
                dignissim sodales. Egestas sed tempus urna et. Quis auctor elit sed vulputate mi sit amet mauris
                commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in ante metus dictum at tempor.
            </p> -->
        </div>
    </div>

    <div class="caminhada-details">
        <div class="caminhada-description">


            <!-- <p style="margin-bottom: 16px;">
                Elementum curabitur vitae nunc sed velit dignissim sodales. Egestas sed tempus urna et. Quis auctor elit
                sed vulputate mi sit amet mauris commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in
                ante metus dictum at tempor.
            </p>

            <p style="margin-bottom: 16px;">
                dignissim sodales. Egestas sed tempus urna et. Quis auctor elit sed vulputate mi sit amet mauris
                commodo. Viverra tellus in hac habitasse. Id aliquet risus feugiat in ante metus dictum at tempor.
            </p> -->
        </div>


    </div>
</section>

<section id="agenda" class="agenda">
    <h1 class="agenda-title">
        Agenda
    </h1>

    <div class="agenda-details">
        <ul class=agenda-datas>
            <li *ngFor="let agenda of agendas">
                <span>{{ agenda.local }}</span>
                <span>{{ agenda.data_hora }}</span>
            </li>
        </ul>
    </div>

    <div class="contato-details">
        <a class="contato-icons" href="https://www.facebook.com/Sick161" target="_blank" style="color: #000000;">
            <i title="Ir para Facebook" class="fab fa-facebook-square fa-4x"></i>
        </a>

        <a class="contato-icons" href="https://twitter.com/sick161" target="_blank" style="color: #000000;">
            <i title="Ir para Twitter" class="fab fa-twitter-square fa-4x"></i>
        </a>

        <a class="contato-icons" href="https://www.instagram.com/sickdallas/" target="_blank" style="color: #000000;">
            <i title="Ir para Instagram" class="fab fa-instagram-square fa-4x"></i>
        </a>

        <a class="contato-icons" href="https://soundcloud.com/sick161" target="_blank" style="color: #000000;">
            <i title="Ir para Soundcloud" class="fab fa-soundcloud fa-4x"></i>
        </a>

        <a class="contato-icons" href="https://open.spotify.com/artist/3oiVWGM3WhBXdxGwxCSD6p" target="_blank"
            style="color: #000000;">
            <i title="Ir para Spotify" class="fab fa-spotify fa-4x"></i>
        </a>
    </div>
</section>

<section class="developers">
    <p style="margin: 0 32px;">LOGO DO MARCIO</p>

    <!-- <p style="margin: 0 32px;">LOGO DO HUGO</p> -->
    <img style="margin: 0 32px;" src="./assets/imgs/logo_ugu.png">
</section>