html {
    scroll-behavior: smooth;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: "AveriaLibre";
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
